.owl-theme {
    padding: 0 20px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: block;
}
.owl-theme .owl-nav {
    margin-top: 10px;
}
.owl-theme .owl-nav [class*=owl-] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background-color: transparent;
    border: none;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px;
    background: #A4A4A4;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #C4BC9D;
}

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    content: '';
    left: 0;
    top: 35%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white;
    font-size: 25px;
}

.owl-carousel .owl-nav .owl-next {
    position: absolute;
    content: '';
    right: 0;
    top: 35%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white; 
    font-size: 25px;
}

.owl-carousel .owl-nav .owl-next:hover, .owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:focus, .owl-carousel .owl-nav .owl-prev:focus {
    background-color: #0B2E6E;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    transition: 0.2s;
}

@media screen and (max-width: 1200px) {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
}



/* Owl Carousel #2 */
#owl-carousel-2.owl-theme {
    padding: 0;
}

#owl-carousel-2.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    content: '';
    left: -20px;
    top: 35%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white;
    font-size: 25px;
}

#owl-carousel-2.owl-carousel .owl-nav .owl-next {
    position: absolute;
    content: '';
    right: -20px;
    top: 35%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white; 
    font-size: 25px;
}

@media screen and (max-width: 767px) {
    #owl-carousel-2.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-2.owl-carousel .owl-nav .owl-next {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}




/* Owl Carousel #3 */
@media screen and (max-width: 992px) {
    #owl-carousel-3.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-3.owl-carousel .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #owl-carousel-3.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-3.owl-carousel .owl-nav .owl-next {
        top: 20%;
    }
}



/* Owl Carousel #4 */
#owl-carousel-4.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    content: '';
    left: 0;
    top: 30%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white;
    font-size: 25px;
}

#owl-carousel-4.owl-carousel .owl-nav .owl-next {
    position: absolute;
    content: '';
    right: 0;
    top: 30%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white; 
    font-size: 25px;
}

#owl-carousel-4.owl-carousel .owl-nav .owl-next:hover, #owl-carousel-4.owl-carousel .owl-nav .owl-prev:hover,
#owl-carousel-4.owl-carousel .owl-nav .owl-next:focus, #owl-carousel-4.owl-carousel .owl-nav .owl-prev:focus {
    background-color: #ce3438;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    transition: 0.2s;
}

@media screen and (max-width: 767px) {
    #owl-carousel-4.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-4.owl-carousel .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #owl-carousel-4.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-4.owl-carousel .owl-nav .owl-next {
        top: 25%;
    }
}



/* Owl Carousel #5 */
#owl-carousel-5.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    content: '';
    left: 0;
    top: 30%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white;
    font-size: 25px;
}

#owl-carousel-5.owl-carousel .owl-nav .owl-next {
    position: absolute;
    content: '';
    right: 0;
    top: 30%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #0F274B;
    color: white; 
    font-size: 25px;
}

#owl-carousel-5.owl-carousel .owl-nav .owl-next:hover, #owl-carousel-5.owl-carousel .owl-nav .owl-prev:hover,
#owl-carousel-5.owl-carousel .owl-nav .owl-next:focus, #owl-carousel-5.owl-carousel .owl-nav .owl-prev:focus {
    background-color: #ce3438;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    transition: 0.2s;
}

@media screen and (max-width: 767px) {
    #owl-carousel-5.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-5.owl-carousel .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #owl-carousel-5.owl-carousel .owl-nav .owl-prev,
    #owl-carousel-5.owl-carousel .owl-nav .owl-next {
        top: 25%;
    }
}

